body{
    margin: 0px;
    padding: 0px;
    /* background-color: #212529; */
    font-family: Arial, Helvetica, sans-serif;
}

#hero{
    background: linear-gradient(to bottom right, #f2fbff, #f2d1f7);
}

